Computers/Computers/Service References/Motherboard/Motherboard.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Motherboard" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Motherboard/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Motherboard/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SMotherboard_NewMotherboard_InputMessage">
    <wsdl:part name="parameters" element="tns:NewMotherboard" />
  </wsdl:message>
  <wsdl:message name="SMotherboard_NewMotherboard_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewMotherboardResponse" />
  </wsdl:message>
  <wsdl:message name="SMotherboard_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="SMotherboard_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="SMotherboard_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="SMotherboard_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SMotherboard_delete_InputMessage">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="SMotherboard_delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:message name="SMotherboard_toString_InputMessage">
    <wsdl:part name="parameters" element="tns:toString" />
  </wsdl:message>
  <wsdl:message name="SMotherboard_toString_OutputMessage">
    <wsdl:part name="parameters" element="tns:toStringResponse" />
  </wsdl:message>
  <wsdl:message name="SMotherboard_get_InputMessage">
    <wsdl:part name="parameters" element="tns:get" />
  </wsdl:message>
  <wsdl:message name="SMotherboard_get_OutputMessage">
    <wsdl:part name="parameters" element="tns:getResponse" />
  </wsdl:message>
  <wsdl:portType name="SMotherboard">
    <wsdl:operation name="NewMotherboard">
      <wsdl:input wsaw:Action="http://tempuri.org/SMotherboard/NewMotherboard" message="tns:SMotherboard_NewMotherboard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SMotherboard/NewMotherboardResponse" message="tns:SMotherboard_NewMotherboard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/SMotherboard/Save" message="tns:SMotherboard_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SMotherboard/SaveResponse" message="tns:SMotherboard_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/SMotherboard/Update" message="tns:SMotherboard_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SMotherboard/UpdateResponse" message="tns:SMotherboard_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://tempuri.org/SMotherboard/delete" message="tns:SMotherboard_delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SMotherboard/deleteResponse" message="tns:SMotherboard_delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="toString">
      <wsdl:input wsaw:Action="http://tempuri.org/SMotherboard/toString" message="tns:SMotherboard_toString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SMotherboard/toStringResponse" message="tns:SMotherboard_toString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get">
      <wsdl:input wsaw:Action="http://tempuri.org/SMotherboard/get" message="tns:SMotherboard_get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SMotherboard/getResponse" message="tns:SMotherboard_get_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_SMotherboard" type="tns:SMotherboard">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NewMotherboard">
      <soap:operation soapAction="http://tempuri.org/SMotherboard/NewMotherboard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/SMotherboard/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/SMotherboard/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://tempuri.org/SMotherboard/delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="toString">
      <soap:operation soapAction="http://tempuri.org/SMotherboard/toString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get">
      <soap:operation soapAction="http://tempuri.org/SMotherboard/get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Motherboard">
    <wsdl:port name="BasicHttpBinding_SMotherboard" binding="tns:BasicHttpBinding_SMotherboard">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Motherboard/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>